body{
  background-color: grey;
  font-family: cursive;
}
.container{
  width: 1024px;
  margin: auto;
  /* border: 1px solid; */
  height: 20em;
  padding: 0.5em;
}

.sentence{
  margin: 1em;

  font-size: 2em;
}

.maxWordCount{
  font-size: 2em;
  width: 5em;
  padding: 0.5em;
}

.wordCount{
  font-size: 3em;
}

.word{
  font-size: 12px;
  padding: 0.1em;
}

.longer{
  background-color: yellow;
  padding: 0.25em;
  margin: 0.1em;
}

.longest{
  background-color: coral;
  padding: 0.25em;
  margin: 0.1em;
}

.errorMessage{
  color: red;
  font-size: 2em;
}
.small{
  font-size: small;
  font-weight: italic;
}

.longerThanFour{
  margin-bottom:2em;
}

