body{
  background-color: grey;
  font-family: cursive;
}

.col-12{
  width: 96%;
}
.col-11{
  width: 90%;
  height: 20%;
}
.sentence{
  inline-size: 60%;
}
.content{
  margin-top: 1px;
}
.container{
  width: 1024px;
  margin: auto;
  /* border: 1px solid; */
  height: 20em;
  padding: 0.5em;
}

.sentence{
  margin: 1em;

  font-size: 2em;
}

.maxWordCount{
  font-size: 2em;
  width: 5em;
  padding: 0.5em;
}

.wordCount{
  font-size: 2em;
}

.last5sentences{
  width: 120%;
}

.word{
  width: 100%;
}

.word{
  font-size: 12px;
  padding: 0.1em;
}

.longer{
  background-color: yellow;
  padding: 0.25em;
  margin: 0.1em;
}

.longest{
  background-color: coral;
  padding: 0.25em;
  margin: 0.1em;
}

.errorMessage{
  color: red;
  font-size: 2em;
}
.small{
  font-size: small;
  font-weight: italic;
}

.longerThanFour{
  margin-bottom:2em;
}
.content {
  width: auto;
  height: auto;
  background-color: lightskyblue ;
  padding: 00.25em;
  border-radius: 1em;
}
.dot{
  height: 25px;
width: 25px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
align-items: center;
}

.green{
  background-color: rgb(16, 214, 16);
}

.orange{
  background-color: orange;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* background: #04AA6D; */
  /* background: #eb80d9; */
  background: #e3f305;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* background: #04AA6D; */
  /* background: #eb80d9; */
  background: #e4f30c;
  cursor: pointer;
}
